<% provide(:title, @user.name) %>
<!--<div class="row">-->
  <!--<aside class="col-md-4">-->
    <!--<section class="user_info">-->
      <!--<h1>-->
        <!--<%# @user.name %>-->
      <!--</h1>-->
      <!--<div>-->
        <!--<ul>-->
          <!--<li>User Id: <%# @user.id %></li>-->
          <!--<li>User Email<%# @user.email %></li>-->
          <!--<li>Is logged in: <%# logged_in? %></li>-->
          <!--&lt;!&ndash;<li>Session id: <%# session[:session_id] %></li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li>User Id from Session: <%# session[:user_id] %></li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li>Access Token: <%# current_user.access_token %></li>&ndash;&gt;-->
        <!--</ul>-->
      <!--</div>-->
    <!--</section>-->
  <!--</aside>-->
<!--</div>-->
<!--<div class="row">-->
  <!--&lt;!&ndash;<div class="center"><%# link_to "Get Started!", oauth_start_path, class: "btn btn-lg btn-default" %></div>&ndash;&gt;-->
  <!--<div class="center">-->
    <!--<%# link_to "Get Started!", courses_path, class: "btn btn-lg btn-default" %>-->
  <!--</div>-->
  <!--<div class="center">-->
    <!--<%# link_to "Get Started", course_path(session[:course_id]), class: "btn btn-lg btn-default" %>-->
  <!--</div>-->
<!--</div>-->
<div class="center jumbotron">
  <h1>Welcome to Grade Export</h1>

  <h2>
    This application is build to help you export your grades to SIS with ease.
  </h2>
  <br>
  <%= link_to "Get Started", course_path(session[:course_id]), class: "btn btn-lg btn-default" %>
</div>