<% provide(:title, 'Grading Schemes') %>

<div class="container">
  <h3>Your Grading Standards:</h3>
  <hr>
</div>

<div class="w3-cell-row">
  <%= @grading_standard[:title] %>
</div>

<p>
  <strong>Grading Standards:</strong>
  <% @grading_standard.grading_schemes.each do |gs| %>
      <%= gs.name %> (<%= gs.percentage %>)<br />
  <% end %>
</p>