<% provide(:title, 'Grading Schemes') %>

<div class="container">
  <h3>Your Grading Standards:</h3>
  <hr>
</div>

<div class="w3-cell-row">
  <% @grading_standards.each do |grading_standard| %>
      <p>
        <strong> <%= grading_standard[:title] %> </strong>
            <% grading_standard.grading_scheme.each do |gs| %>
            <br /><%= gs.name %> -> <%= gs.percentage %>
        <% end %>
      </p>
  <% end %>
</div>
cle